<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

    {% extends "application/main.html" %}
    {% block content %}

        <div class="header-bar">
            <h1>Login</h1>
        </div>

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input style="margin-top: 5px; width: 232px;" class="button" type="submit" value="Login">
            </form>
            <p>Don't have an account? <a href="{% url "signup" %}">Sign up</a></p>
        </div>

    {% endblock content %}

</body>
</html>