<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task form</title>
</head>
<body>

    {% extends "application/main.html" %}
    {% block content %}

        <div class="header-bar">
            <a href="{% url "tasks" %}">&#8632; Back</a>
        </div>

        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button" type="submit" value="Submit">
            </form>
        </div>

    {% endblock content %}

</body>
</html>